services:
  web:
    build: .
    ports:
      - "8000:8080"
  
  client: 
    build: 
      context: ./AgentFront/Agent.Api
      dockerfile: Dockerfile
      args:
        VITE_OIDC_AUTHORITY: "https://auth-dev.snowse.io/realms/DevRealm"
        VITE_OIDC_CLIENT_ID: "nathan_react"
        VITE_OIDC_REDIRECT_URI: "http://localhost:5173/"
        VITE_OIDC_POST_LOGOUT_REDIRECT_URI: "http://localhost:5173/"
        VITE_OIDC_RESPONSE_TYPE: "code"
        VITE_OIDC_SCOPE: "openid profile email"
    ports:
      - "5173:80"

  fastmcp:
    build: /Agent.mcp/.
    container_name: fastmcp_server
    ports:
      - "25565:25565"
    volumes:
      - ./data:/app/data  
    restart: unless-stopped